<p>
  admin works!
</p>

<md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let experience of experiences | async">
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>{{experience.name}}</h4>
        <p md-line>
            {{experience.startDate | date}} - {{experience.endDate | date}}
            <button (click)="edit(experience)">edit</button>
            <button (click)="delete(experience)">delete</button>
        </p>
    </md-list-item>
</md-list>

<div *ngIf="experience != null">
    <md-input-container class="example-full-width">
        <input mdInput type="text" [(ngModel)]="experience.name" />
    </md-input-container>
    <md-input-container class="example-full-width">
        <input mdInput type="date" [(ngModel)]="experience.startDate" />
    </md-input-container>
    <md-input-container class="example-full-width">
        <input mdInput type="date" [(ngModel)]="experience.endDate" />
    </md-input-container>
    <button md-raised-button (click)="save();">save</button>
</div>
<button md-raised-button (click)="new();">new</button>
