<md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let category of categories | async">
        {{category.name}} - {{category.value}}
        <button md-icon-button (click)="edit(category)"><md-icon>edit</md-icon></button>
        <button md-icon-button (click)="delete(category)"><md-icon>delete</md-icon></button>
    </md-list-item>
</md-list>

<button md-fab (click)="new()" class="fixed-fab-button"><md-icon>add</md-icon></button>

<app-category-form *ngIf="category" [category]="category" (formSubmitted)="save($event)"></app-category-form>
