/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0;
    margin: 0;
}
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.fixed-fab-button.mat-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
