<md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let experience of experiences | async">
        {{experience.startDate | date}} - {{experience.endDate | date}}
        <button md-icon-button (click)="edit(experience)"><md-icon>edit</md-icon></button>
        <button md-icon-button (click)="delete(experience)"><md-icon>delete</md-icon></button>
    </md-list-item>
</md-list>

<button md-fab (click)="new()" class="fixed-fab-button"><md-icon>add</md-icon></button>

<app-experience-form *ngIf="experience" [experience]="experience" (formSubmitted)="save($event)"></app-experience-form>
